.content {
    padding: 0 10%;
}

.row {
    margin-top: 10%;
    width: 100%;
}

.visitor-message {
    margin-left: 10%;
    float: left;
    font-size: 20px;
    font-weight: 500;
}

.left {
    float: left;
}

.right {
    float: right;
}

.index-content-row {
    padding-top: 10px;
}

.error_msg {
    color: tomato;
}

.shopping-list-card {
    height: 100px;
    border: 1px solid lightblue;
    border-radius: 3px;
    padding: 20px;
    float: left;
    margin-left: 10px;
    margin-bottom: 10px;
}

.shopping-list-name {
    height: 25px;
    font-size: 22px;
    font-weight: 500;
}

.shopping-list-number {
    height: 25px;
    margin-top: 10px;
    font-size: 18px;
}

.shopping-list-date {
    height: 25px;
    margin-top: 10px;
    font-size: 16px;
    color: gray;
}