body {
    padding-top: 70px;
    background: url("../img/shopping-list.jpg") no-repeat center center fixed;
    background-size: cover;
}

.content {
    padding: 0 10%;
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
}

.red {
    border: 1px solid red;
}

.row {
    width: 100%;
}

.visitor-message {
    margin-top: 5%;
    float: left;
    font-size: 20px;
    font-weight: 500;
}

.left {
    float: left;
}

.right {
    float: right;
}

.index-content-row {
    padding-top: 10px;
}

.error_msg {
    color: tomato;
}

.shopping-list-card {
    height: 130px;
    border: 1px solid gray;
    background-color: whitesmoke;
    border-radius: 3px;
    padding: 20px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.shopping-list-card:hover {
    box-shadow: 1px 13px 25px 0 rgba(0, 0, 0, 0.3), 0 11px 7px 0 rgba(0, 0, 0, 0.2);
}

.shopping-list-card-big {
    min-height: 150px;
    border: 1px solid gray;
    background-color: whitesmoke;
    border-radius: 3px;
    padding: 20px;
    float: left;
    margin-right: 20px;
    margin-bottom: 10px;
    box-shadow: 0 6px 10px 0 rgba(0, 0, 0, 0.3), 0 2px 2px 0 rgba(0, 0, 0, 0.2);
    box-sizing: border-box;
}

.shopping-list-name {
    height: 25px;
    font-size: 22px;
    font-weight: 500;
}

.shopping-list-number {
    height: 25px;
    margin-top: 10px;
    font-size: 18px;
}

.shopping-list-date {
    height: 25px;
    margin-top: 10px;
    font-size: 16px;
    color: gray;
}

#no-shopping-lists {
    margin-top: 10%;
    font-size: 25px;
    color: darkslategrey;
    text-align: center
}