{% extends "base.html" %} {% block content %}

<div class="row col-md-12 index-content-row">
    <div class="col-md-12 add-button">
        <form method="post" action="/create_shopping_list">
            <input class="btn btn-primary" type="submit" value="New shopping list" name="add_shopping_list" />
        </form>
    </div>
    <div class="col-md-12" style="margin:20 auto 0 auto;">

        {% if user.shopping_lists|length > 0 %} {% for shopping_list in user.shopping_lists %}
        <a href="/shopping_list?action=view&shoppinglist={{ shopping_list.shopping_list_name }}">
            <div class="shopping-list-card col-md-3">
                <div class="shopping-list-name col-md-11">
                    {{ shopping_list.shopping_list_name }}
                </div>
                <div class="shopping-list-number col-md-11">
                    {{ shopping_list.items|length }}
                </div>
                <div class="shopping-list-date col-md-11">
                    Due on {{ shopping_list.date_created }}
                </div>
            </div>
        </a>
        {% endfor %} {% else %}
        <p id="no-shopping-lists">You don't have any shopping lists yet.<br/> Click "New shopping list" to create one</p>
        {% endif %}
    </div>

</div>
{% endblock %}